<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina não encotrada</title>
    <link rel="stylesheet" href="templates/assests/css/style.css">
    
</head>
<body>
    <header>
        <div class="a">
            <h1>Markit digital</h1>
        </div>

        <h2 class="a" >Pagina não encotrada</h2>

        <section class="caixaBtn">

            <p class="a">Volte para pagina inicial</p>

            <a href="javascript:history.go(-1)"><button class="voltar">voltar</button></a>
        </section>
        
    </header>
</body>
</html>