<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario</title>
    <link rel="stylesheet" href="templates/assests/css/style.css">
</head>
<body>

    <header>
        <div class="a">
            <h1>Markit digital</h1>
        </div>

        <h2 class="a">Bem vindo Novamnete</h2>

    </header>
   
    <main>

        <form action="" method="post" class="principal">
            
            <div class="campos">
                <input type="email" placeholder="Digite seu emeil:" name="emeil">
            </div>

            <div class="campos">
                <input type="password" name="senha" name="senha" placeholder="senha">
            </div>
            <button type="submit">enviar</button>
        </form>

        <section class="caixaBtn">
            <a href="javascript:history.go(-1)"><button class="voltar">voltar</button></a>
        </section>
        
    </main>
</body>
</html>